body {
    background-image: url('../Images/space.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: ('../Iamges/rocket.cur');
}

.container {
    display: inline-flex;
    flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-aroundS;
  align-self: baseline;
  justify-items: space-between;
  width: 90%;
}

.modal-window {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .modal-window:target {
    opacity: 2;
    pointer-events: auto;
  }
  
  .modal-window>div {
    width: 40%;
    height: 30%;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background: #fff;
    color: #444;
  }
  
  .modal-window header {
    font-weight: bold;
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  
  .modal-close:hover {
    color: #000;
  }
  
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }

.header{
    text-align: center;
    margin-top: -9%;

    margin-bottom: 0%;
    flex-shrink: 40%;
}

.addspace{
    margin-top: -11%;
}

img{
    max-width: 100%;
}

.item{
    flex: 1 0 auto;
    max-width: 10%;
}

.item:hover .cursor{
    cursor: url('../Images/rocket.cur'), default;
}

.sun a img{
    max-width: 698%;
    margin-left: -375%;
}

.venus a img{
    margin-left: 10%;
    max-width: 171%;
}

.earth a img{
    max-width: 200%;
    margin-left: 21%;
}

.mars a img{
    max-width: 122%;
    margin-left: 65%;
}

.jupiter a img{
    max-width: 277%;
    margin-left: 16%;
}

.saturn a img{
    transform: rotate(-13deg);
    max-width: 248%;
    margin-left: 104%;
}

.neptune a img{
    max-width: 153%;
    margin-left: 185%;
}

.mercury a img{
    max-width: 59%;
    margin-left: 70%;
}

.uranus a img{
    max-width: 155%;
    margin-left: 184%;
}