<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel='stylesheet' href="{{url_for('static', filename='css/main.css')}}">
    
    <title>Space Facts</title>
</head>

<body>
        <div id="open-modal" class="modal-window">
            <div>
                <a href="#modal-close" title="Close" class="modal-close">close &times;</a>
                <h1>Here is your random fact: </h1>
                <div>Here is your fact</div>
            </div>
        </div> 

        <!-- To add a row above the following row -->
        <header>
            <div class="header">
                <img src= "{{url_for('static',filename='Images/header.png')}}" width= '55%'>
            </div>
            </header>

        <!-- <form action="/mercury" method="POST"> -->
        <div class="container addspace"> 

            <!-- SUN -->
            <div class= "sun">
                <a href="#open-modal">
                <input type="image" name= 'sun' class= 'cursor' 
                style= 'width: 50%;'  src="{{url_for('static',filename='Images/sun.png')}}">
            </input>
        </a>
            </div>
    
            <!-- MERCURY -->
            <div class= "mercury">
                <a href="#open-modal">
                <input type="image" class= 'cursor' 
                style= 'width: 10%' src="{{url_for('static',filename='Images/mercury.png')}}">
                <onclick="hello()">
                </onclick>
            </input>
        </a>
            </div>

            <!-- VENUS -->
            <div class= "venus">
                <a href="#open-modal">
                <input type="image" class= 'cursor'
                style= 'width: 20%;'  src="{{url_for('static',filename='Images/venus.png')}}" >
            </input>
        </a>
            </div>

            <!-- EARTH -->
            <div class= 'earth'>
                <a href="#open-modal">
                <input type="image" class= 'cursor'
                style= 'width: 20%;'  src="{{url_for('static',filename='Images/earth.png')}}">
            </input>
        </a>
            </div>

            <!-- MARS -->
            <div class='mars'>
                <a href="#open-modal">
                <input type="image" class= 'cursor'
                style= 'width: 15%;'  src="{{url_for('static',filename='Images/mars.png')}}">
            </input>
        </a>
            </div>

            <!-- JUPITER -->
            <div class= 'jupiter'>
                <a href="#open-modal">
                <input type="image" class= 'cursor'
                style= 'width: 20%;'  src="{{url_for('static',filename='Images/jupiter.png')}}">
            </input>
        </a>
            </div>

            <!-- SATURN -->
            <div class='saturn'>
                <a href="#open-modal">
                <input type="image" class= 'cursor'
                style= 'width: 15%;'  src="{{url_for('static',filename='Images/saturn.png')}}">
            </input>
        </a>
            </div>

            <!-- URANUS -->
            <div class='uranus'>
                <a href="#open-modal">
                <input type="image" class= 'cursor'
                style= 'width: 15%' src="{{url_for('static',filename='Images/uranus.png')}}">
            </input>
        </a>
            </div>

            <!-- NEPTUNE -->
            <div class='neptune'>
                <a href="#open-modal"></a>
                <input type="image" class= 'cursor'
                style= 'width: 15%;' src="{{url_for('static',filename='Images/neptune.png')}}">
            </input>
        </a>
        </div>
        <!-- </form>  -->
        </div>
