<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel='stylesheet' href="{{url_for('static', filename='css/main.css')}}">
    <style>

    </style>
    <title>Space Facts</title>
</head>

<body>
        <div id="open-modal" class="modal-window">
            <div>
                <a href="#modal-close" title="Close" class="modal-close">close &times;</a>
                <h1>Here is your random fact: </h1>
                <div>Here is your fact</div>
            </div>
        </div> 

        <!-- To add a row above the following row -->
        <header>
            <div class="header">
                <img src= "{{url_for('static',filename='Images/header.png')}}" width= '55%'>
            </div>
            </header>

        <!-- <form action="/mercury" method="POST"> -->
        <div class="container addspace"> 

            <!-- SUN -->
            <div class= "asun item">
                <a href="#open-modal">
                <img class="cursor"
                 src="{{url_for('static',filename='Images/sun.png')}}">
           
        </a>
            </div>
    
            <!-- MERCURY -->
            <div class= "mercury item">
                <a href="#open-modal">
                <img src="{{url_for('static',filename='Images/mercury.png')}}">
                
          
        </a>
            </div>

            <!-- VENUS -->
            <div class= "venus item">
                <a href="#open-modal">
                <img class="cursor" src="{{url_for('static',filename='Images/venus.png')}}" >
        </a>
            </div>

            <!-- EARTH -->
            <div class= 'earth item'>
                <a href="#open-modal">
                <img class="cursor" src="{{url_for('static',filename='Images/earth.png')}}">
            
        </a>
            </div>

            <!-- MARS -->
            <div class='mars item'>
                <a href="#open-modal">
                <img src="{{url_for('static',filename='Images/mars.png')}}">
            
        </a>
            </div>

            <!-- JUPITER -->
            <div class= 'jupiter item'>
                <a href="#open-modal">
                <img src="{{url_for('static',filename='Images/jupiter.png')}}">
            
        </a>
            </div>

            <!-- SATURN -->
            <div class='saturn item'>
                <a href="#open-modal">
                <img src="{{url_for('static',filename='Images/saturn.png')}}">
           
        </a>
            </div>

            <!-- URANUS -->
            <div class='uranus item'>
                <a href="#open-modal">
                <img src="{{url_for('static',filename='Images/uranus.png')}}">
            
        </a>
            </div>

            <!-- NEPTUNE -->
            <div class='neptune item'>
                <a href="#open-modal">
                <img src="{{url_for('static',filename='Images/neptune.png')}}">
           
        </a>
        </div>
        <!-- </form>  -->
        </div>
